<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>The Django Book</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}reset-min.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}grids-min.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}djangobook.css" type="text/css">
    <style type="text/css">
<!--
.STYLE1 {color: #FF0000}
-->
    </style>
    </head><body>
    <div id="doc" class="yui-t7">
      <div id="hd">
        <h1><a href="">The Django Book</a></h1>
        <div id="global-nav">
            <a class="about" href="http://new.djangobook.com/about/">About</a>
          |
            <a class="comment-help" href="http://new.djangobook.com/about/comments/">Comment help</a>
          |
            <a class="contact" href="http://new.djangobook.com/contact/">Contact us</a>
          |
            <a class="errata" href="http://new.djangobook.com/errata/">Errata</a>
          |
            <a class="buy" href="http://www.amazon.com/gp/product/1590597257?ie=UTF8&tag=jacobianorg-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=1590597257">
                Buy the print version on Amazon.com</a>
        </div>

      </div>
      <div id="bd">
        <div id="yui-main">
          <div class="yui-b">


  <h2 id="chapter-title">Table of contents</h2>
  <h2 id="chapter-subtitle">2.0, English -&gt; Chinese</h2>
  <ol class="toc">
      <li>
    Django book 2.0 的中文翻译。
      </li>
      <li><a href="http://djangobook.py3k.cn/2.0/changelog/">最近更新</a> - <a href="http://djangobook.py3k.cn/2.0/hero/">贡献者</a></li>
      <li>方便自己也方便大家，敬请积极参与翻译！</li>
      
      <li class="a">
        <span class="release-date"></span>
          <a href="http://djangobook.py3k.cn/2.0/chapter01/">
            第一章：介紹Django <span class="STYLE1">完成度 100.00%</span> </a> <a href="http://djangobook.py3k.cn/2.0/chapter01/">阅读</a> <a href="http://djangobook.py3k.cn/2.0/chapter01/translate/">翻译</a></li>
      
      <li class="b">
        <span class="release-date"></span>
          <a href="http://djangobook.py3k.cn/2.0/chapter02/">
            第二章 入门 <span class="STYLE1">完成度 100.00%</span> </a> <a href="http://djangobook.py3k.cn/2.0/chapter02/">阅读</a> <a href="http://djangobook.py3k.cn/2.0/chapter02/translate/">翻译</a></li>
      
      <li class="a">
        <span class="release-date"></span>
          <a href="http://djangobook.py3k.cn/2.0/chapter03/">
            第三章 视图和URL配置 <span class="STYLE1">完成度 100.00%</span> </a> <a href="http://djangobook.py3k.cn/2.0/chapter03/">阅读</a> <a href="http://djangobook.py3k.cn/2.0/chapter03/translate/">翻译</a></li>
      
      <li class="b">
        <span class="release-date"></span>
          <a href="http://djangobook.py3k.cn/2.0/chapter04/">
            第四章：模版 <span class="STYLE1">完成度 100.00%</span> </a> <a href="http://djangobook.py3k.cn/2.0/chapter04/">阅读</a> <a href="http://djangobook.py3k.cn/2.0/chapter04/translate/">翻译</a></li>
      
      <li class="a">
        <span class="release-date"></span>
          <a href="http://djangobook.py3k.cn/2.0/chapter05/">
            第五章：模型 <span class="STYLE1">完成度 100.00%</span> </a> <a href="http://djangobook.py3k.cn/2.0/chapter05/">阅读</a> <a href="http://djangobook.py3k.cn/2.0/chapter05/translate/">翻译</a></li>
      
      <li class="b">
        <span class="release-date"></span>
          <a href="http://djangobook.py3k.cn/2.0/chapter06/">
            第六章：Admin <span class="STYLE1">完成度 100.00%</span> </a> <a href="http://djangobook.py3k.cn/2.0/chapter06/">阅读</a> <a href="http://djangobook.py3k.cn/2.0/chapter06/translate/">翻译</a></li>
      
      <li class="a">
        <span class="release-date"></span>
          <a href="http://djangobook.py3k.cn/2.0/chapter07/">
            第七章：表单 <span class="STYLE1">完成度 100.00%</span> </a> <a href="http://djangobook.py3k.cn/2.0/chapter07/">阅读</a> <a href="http://djangobook.py3k.cn/2.0/chapter07/translate/">翻译</a></li>
      
      <li class="b">
        <span class="release-date"></span>
          <a href="http://djangobook.py3k.cn/2.0/chapter08/">
            第八章 高级视图和URL配置 <span class="STYLE1">完成度 100.00%</span> </a> <a href="http://djangobook.py3k.cn/2.0/chapter08/">阅读</a> <a href="http://djangobook.py3k.cn/2.0/chapter08/translate/">翻译</a></li>
      
      <li class="a">
        <span class="release-date"></span>
          <a href="http://djangobook.py3k.cn/2.0/chapter09/">
            第九章：模版高级进阶 <span class="STYLE1">完成度 99.74%</span> </a> <a href="http://djangobook.py3k.cn/2.0/chapter09/">阅读</a> <a href="http://djangobook.py3k.cn/2.0/chapter09/translate/">翻译</a></li>
      
      <li class="b">
        <span class="release-date"></span>
          <a href="http://djangobook.py3k.cn/2.0/chapter10/">
            第十章 模型高级进阶 <span class="STYLE1">完成度 100.00%</span> </a> <a href="http://djangobook.py3k.cn/2.0/chapter10/">阅读</a> <a href="http://djangobook.py3k.cn/2.0/chapter10/translate/">翻译</a></li>
      
      <li class="a">
        <span class="release-date"></span>
          <a href="http://djangobook.py3k.cn/2.0/chapter11/">
            第十一章：通用视图 <span class="STYLE1">完成度 100.00%</span> </a> <a href="http://djangobook.py3k.cn/2.0/chapter11/">阅读</a> <a href="http://djangobook.py3k.cn/2.0/chapter11/translate/">翻译</a></li>
      
      <li class="b">
        <span class="release-date"></span>
          <a href="http://djangobook.py3k.cn/2.0/chapter12/">
            第二十章： 部署Django <span class="STYLE1">完成度 100.00%</span> </a> <a href="http://djangobook.py3k.cn/2.0/chapter12/">阅读</a> <a href="http://djangobook.py3k.cn/2.0/chapter12/translate/">翻译</a></li>
      
      <li class="a">
        <span class="release-date"></span>
          <a href="http://djangobook.py3k.cn/2.0/chapter13/">
            第十三章： 输出非HTML内容 <span class="STYLE1">完成度 100.00%</span> </a> <a href="http://djangobook.py3k.cn/2.0/chapter13/">阅读</a> <a href="http://djangobook.py3k.cn/2.0/chapter13/translate/">翻译</a></li>
      
      <li class="b">
        <span class="release-date"></span>
          <a href="http://djangobook.py3k.cn/2.0/chapter14/">
            第十四章： 会话、用户和注册 <span class="STYLE1">完成度 86.16%</span> </a> <a href="http://djangobook.py3k.cn/2.0/chapter14/">阅读</a> <a href="http://djangobook.py3k.cn/2.0/chapter14/translate/">翻译</a></li>
      
      <li class="a">
        <span class="release-date"></span>
          <a href="http://djangobook.py3k.cn/2.0/chapter15/">
            第十五章： 缓存机制 <span class="STYLE1">完成度 100.00%</span> </a> <a href="http://djangobook.py3k.cn/2.0/chapter15/">阅读</a> <a href="http://djangobook.py3k.cn/2.0/chapter15/translate/">翻译</a></li>
      
      <li class="b">
        <span class="release-date"></span>
          <a href="http://djangobook.py3k.cn/2.0/chapter16/">
            第十四章 集成的子框架 django.contrib <span class="STYLE1">完成度 99.72%</span> </a> <a href="http://djangobook.py3k.cn/2.0/chapter16/">阅读</a> <a href="http://djangobook.py3k.cn/2.0/chapter16/translate/">翻译</a></li>
      
      <li class="a">
        <span class="release-date"></span>
          <a href="http://djangobook.py3k.cn/2.0/chapter17/">
            第十七章： 中间件 <span class="STYLE1">完成度 95.08%</span> </a> <a href="http://djangobook.py3k.cn/2.0/chapter17/">阅读</a> <a href="http://djangobook.py3k.cn/2.0/chapter17/translate/">翻译</a></li>
      
      <li class="b">
        <span class="release-date"></span>
          <a href="http://djangobook.py3k.cn/2.0/chapter18/">
            第十八章： 集成已有的数据库和应用 <span class="STYLE1">完成度 100.00%</span> </a> <a href="http://djangobook.py3k.cn/2.0/chapter18/">阅读</a> <a href="http://djangobook.py3k.cn/2.0/chapter18/translate/">翻译</a></li>
      
      <li class="a">
        <span class="release-date"></span>
          <a href="http://djangobook.py3k.cn/2.0/chapter19/">
            第十九章： 国际化 <span class="STYLE1">完成度 100.00%</span> </a> <a href="http://djangobook.py3k.cn/2.0/chapter19/">阅读</a> <a href="http://djangobook.py3k.cn/2.0/chapter19/translate/">翻译</a></li>
      
      <li class="b">
        <span class="release-date"></span>
          <a href="http://djangobook.py3k.cn/2.0/chapter20/">
            第二十章： 安全 <span class="STYLE1">完成度 100.00%</span> </a> <a href="http://djangobook.py3k.cn/2.0/chapter20/">阅读</a> <a href="http://djangobook.py3k.cn/2.0/chapter20/translate/">翻译</a></li>
      

      <li>本站由<a href="http://djangopeople.com/vcc/">VCC</a>使用<a href="http://www.djangoproject.com/">Django</a>搭建。</li>

          </ol></div>
        </div>
      </div>
      <div id="ft">

        Copyright 2006 Adrian Holovaty and Jacob Kaplan-Moss.<br>This
        work is licensed under the <a href="http://new.djangobook.com/license/">GNU Free Document
        License</a>.
        <br>
        Hosting graciously provided by <a href="http://mediatemple.net/">
        <img style="vertical-align: middle; position: relative; top: -1px;" src="{{ IMAGES_URL }}mt.png" alt="media temple"></a>
         <br>
        Chinese translate hosting by <a href="mailto:info@py3k.cn">py3k.cn</a>.
      </div>
    </div>  
</body></html>